pymongo==3.11.0
jsonschema==3.2.0
simplejson==3.13.2
xmljson==0.2.0
Flask==1.1.2
google-cloud-datastore==2.1.0
Flask-Cors==3.0.10
aiohttp==3.7.4.post0
python-socketio==5.1.0
eventlet==0.30.2
gevent-websocket==0.10.1
zope.event==4.5.0
gunicorn==19.9.0
sanic==20.12.2
Sanic-Plugins-Framework==0.9.5

