<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Datastore and Firebase Auth Example</h1>

  <h2>Last 10 visits</h2>
  {% for time in times %}
    <p>{{ time }}</p>
  {% endfor %}


  <label for="choix_location">Choisir votre location</label>
  <input list="locations" type="text" id="choix_locations" onblur="validate()">
  <datalist id="locations">
      <option value="Loire">
      <option value="Île-de-France">
      <option value="Canton de Genève"> 
      <option value="Pays de Gex"> 
  </datalist>

  <div class='custom_calender'>
  
    <input type="date" id="start" name="trip-start"
    value="2021-01-01"
    min="2021-01-01" max="2022-12-31">
  
    <input type="date" id="end" name="trip-end"
      value="2021-01-01"
      min="2021-01-01" max="2022-12-31">
  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="posting_scripts"></script>


</body>
</html>
