
{% macro display_item(item) %}
    <li>
        {{ item.address }} <br />
        Employé: {{ item.def_empl }} <br />
        Remplacant: {{ item.rep_empl }} <br />
        Objets: {{ item.shipped }}
        <p hidden>{{ item.ent_id }}</p>
    </li>
{% endmacro %}

<!DOCTYPE html>

<html>

<head>
  <link href="../static/style.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>Livraisons</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>

    <script src="../static/Sortable.js"></script>
  <script src="../static/script.js"> </script>
</head>

<body>

<header class="masthead">

	<div class="boards-menu">

		<button class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>SPA</button>

		<div class="board-search">
			<input type="search" class="board-search-input" aria-label="Board Search">
			<i class="fas fa-search search-icon" aria-hidden="true"></i>
		</div>

	</div>

	<div class="logo">

		<h1><i class="fab fa-trello logo-icon" aria-hidden="true"></i></h1>

	</div>

	<div class="user-settings">

		<button class="user-settings-btn btn" aria-label="Create">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</button>

		<button class="user-settings-btn btn" aria-label="Information">
			<i class="fas fa-info-circle" aria-hidden="true"></i>
		</button>

		<button class="user-settings-btn btn" aria-label="Notifications">
			<i class="fas fa-bell" aria-hidden="true"></i>
		</button>

		<button class="user-settings-btn btn" aria-label="User Settings">
			<i class="fas fa-user-circle" aria-hidden="true"></i>
		</button>

	</div>

</header>

<section class="board-info-bar">

	<div class="board-controls">

		<button class="board-title btn">
			<h2>Livraisons</h2>
		</button>

		<button class="personal-btn btn">Lyon</button>

		<button class="private-btn btn"><i class="fas fa-briefcase private-btn-icon" aria-hidden="true"></i>Paris</button>

	</div>

	<button class="menu-btn btn"><i class="fas fa-ellipsis-h menu-btn-icon" aria-hidden="true"></i>Show Menu</button>

</section>

<section class="lists-container">

	<div class="list">

		<h3 class="list-title">Demandes</h3>

		<ul class="list-items" id="ask">
            {% for item in ask %}
                {{ display_item(item) }}
            {% endfor %}
        </ul>

		<!-- <button class="add-card-btn btn">Ajouter une demande</button> -->

	</div>

	<div class="list">

		<h3 class="list-title">En cours de livraison</h3>

		<ul class="list-items" id="delivery">
            {% for item in delivery %}
                {{ display_item(item) }}
            {% endfor %}

		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Chez le client</h3>

		<ul class="list-items" id="client">
            {% for item in client %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Retour au stock</h3>

		<ul class="list-items" id="stock">
            {% for item in stock %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>


	<div class="list">

		<h3 class="list-title">Commandes terminées</h3>

		<ul class="list-items" id="done">
            {% for item in done %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Commandes annulées</h3>

		<ul class="list-items" id="canceled">
            {% for item in canceled %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

</section>

</body>
</html>
