
{% macro display_item(item) %}
    <li>
        {{ item.address }} <br />
        Employé: {{ item.def_empl }} <br />
        Remplacant: {{ item.rep_empl }} <br />
        Objets: {{ item.shipped }}
        <p hidden>{{ item.ent_id }}</p>
    </li>
{% endmacro %}

<!DOCTYPE html>

<html>

{% include 'head.html' %}

<body>

<section class="lists-container">

	<div class="list">

		<h3 class="list-title">Demandes</h3>

		<ul class="list-items" id="ask">
            {% for item in ask %}
                {{ display_item(item) }}
            {% endfor %}
        </ul>

		<!-- <button class="add-card-btn btn">Ajouter une demande</button> -->

	</div>

	<div class="list">

		<h3 class="list-title">En cours de livraison</h3>

		<ul class="list-items" id="delivery">
            {% for item in delivery %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Chez le client</h3>

		<ul class="list-items" id="client">
            {% for item in client %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Retour au stock</h3>

		<ul class="list-items" id="stock">
            {% for item in stock %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>


	<div class="list">

		<h3 class="list-title">Commandes terminées</h3>

		<ul class="list-items" id="done">
            {% for item in done %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

	<div class="list">

		<h3 class="list-title">Commandes annulées</h3>

		<ul class="list-items" id="canceled">
            {% for item in canceled %}
                {{ display_item(item) }}
            {% endfor %}
		</ul>

	</div>

</section>

</body>
</html>
