<head>
    <link rel="stylesheet" href="/static/login.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script>
        jQuery(function($) {

    var country = {
        'France': ['ile_de_france', 'loire', 'pays_de_gex', 'toulouse', 'centre_val_de_loire', 'var', 'rhone',
            'marseille'],
        'Switzerland': ['geneve'],
    }

    var $zzone = $('#zone');
    $('#country').change(function () { debugger
        var CNTRY = $(this).val(), cntries = country[CNTRY] || [];

        var html = $.map(cntries, function(ctry){
            return '<option value="' + ctry + '">' + ctry + '</option>'
        }).join('');
        $zzone.html(html);$zzone.append(new Option("Select zone", "0"));$zzone.val("0");
    });
});
    </script>
</head>


{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('root') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}

<form method="POST" action="/signup_post">
    <div class="login">
        <div class="login-screen">

            <div class="app-title">
                <h1>Sign Up</h1>
            </div>

            <div class="login-form">

                <div class="control-group">
                    <input class="login-field" type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div class="field">
                    <div class="control">
                        <input class="login-field" type="text" name="name" placeholder="Name" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="login-field" type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="login-field" type="text" name="numero_de_telephone" placeholder="numero_de_telephone">
                    </div>
                </div>

                <select id="country">
                    <option>Country</option>
                    <option value="France">France</option>
                    <option value="Switzerland">Switzerland</option>
                </select>

                <select id="zone" name="zone"></select>


                <input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block">


            </div>

        </div>

    </div>

</form>

{% endblock %}
